.card {
  background-color: #fff;
  margin-left: 5px;
  margin-bottom: 2px;
  padding: 2px;
  width: 185px;
  text-align: left;
  border-radius: 3px;
  box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.75);
}

#innerCard {
  min-height: 60px;
  position: relative;
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 0;
}

.react-contextmenu {
  color: #333;
  background-color: #eee;
  padding: 3px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 2px;
}

.react-contextmenu-item {
  cursor: pointer;
  width: 120px;
  padding: 3px;
  border-radius: 1px;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item:hover {
  background-color: #aaa;
}